.product_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .product_list_item {
        width: 250px;

        img {
            width: 100%;
        }

        a {
            .product_image {
                position: relative;

                i {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 10px;
                    padding: 8px;
                    background: white;
                    border-radius: 50%;
                    font-size: 14px;
                }
            }

            color: black;

            h5 {
                font-size: 15px;
                font-weight: 600;
                margin-top: 10px;

            }
        }
    }
}