.swiper_item {
    display: flex;
    img {
        position: relative;
        height: 320px;
        width: 230px;
        object-fit: cover;
    }

    .custom-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
    }

    .custom-next-arrow {
        right: 0px;
    }

    .custom-prev-arrow,
    .custom-next-arrow {
        font-size: 24px;
        color: #000;
        background-color: white;
        padding: 8px;
        cursor: pointer;
        z-index: 10;
    }

    .swiper-item-list {
        .swiper_image {
            position: relative;

            i {
                color: black;
                cursor: pointer;
                position: absolute;
                bottom: 0;
                right: 0;
                margin: 10px;
                padding: 10px;
                border-radius: 50%;
                background-color: white;
            }
        }
        h4{
            margin-top: 10px;
            font-weight: 600;
            font-size: 15px;
            color: black;
        }
        p{
            color: black;
            font-size: 13px;
        }
    }
}

/* productslider.css */